*{
    box-sizing: border-box;
    /* outline: 2px dotted red; */
}

@font-face{
    font-family: 'Roboto-Mono';
    src:url('../FONT/Roboto-Mono/static/RobotoMono-Regular.ttf');
}

body{
    font-family: 'Roboto-Mono';
    font-size: 15px;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.wrapper{
    position: relative;
    top: 60px;
    width: 70vw;
    height: 70vh;
    margin: auto;
    border: 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ebf5fb;
}

.wrapper nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.wrapper nav .account-close{
    align-self: center;
    justify-self: flex-end; 
}

.wrapper nav .account-close:hover{
    opacity: 0.5;
}

.wrapper .account-close img{
    width: 25px;
    height: 25px;
}

.wrapper .content{
    height: 100%;
    display: flex;
    /* border: 1px solid; */
    overflow-y: hidden;
}

.wrapper .content .selection{
    width: 40%;
    display: flex;
    flex-direction: column;
    row-gap: 19px;
    /* border-right: 1px solid; */
}

.wrapper .content .selection button{
    height: 60px;
    border-radius: 15px;
    border: none;
    background-color:   #aed6f1  ;
}

.wrapper .content .selection button:hover{
    background-color:  #d6eaf8 ;
}

.wrapper .right-window{
    height: 100%;
    width: 60%;
    margin-left: 10px;
    padding-top: 10px;
    scrollbar-width: none; 
    overflow-y:auto;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 15px;

}

/* Profile Settings*/
.wrapper .right-window .profile{
    display: none;
}

/* Messages */
.wrapper .right-window .messages{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    display: none;
}

.wrapper .right-window .messages .msg-from-mods{
    padding-left: 15px;
    padding-right: 15px;
    height: 80px;
    width: 100%;
    background-color: #aed6f1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper .right-window .messages .msg-from-mods:hover{
    background-color:  #d6eaf8 ;

}

.msg-count{
    background-color:  #dc7633 ;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .right-window .messages .normal-msgs{
    padding-left: 15px;
    padding-right: 15px;
    height: 100px;
    width: 100%;
    background-color: #aed6f1;
    display: flex;
    align-items: center;
    outline: 2px dotted red;
}

.wrapper .right-window .messages .normal-msgs:hover{
    background-color:  #d6eaf8 ;
}

.wrapper .right-window .messages .normal-msgs img{
    width: 15%;
    background-color:  #ebf5fb;
    height: 90px;
    margin-right: 15px;
    border-radius: 50%;
}

.wrapper .right-window .messages .normal-msgs .msg-information{
    width: 83%;
    outline: 2px dotted red;
}

/* Chat room */
.wrapper .right-window .chat-room{
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 10px;
    /* display: none; */
}

.wrapper .right-window .chat-room form{
    align-self: end;
    width: 100%;
    height:10%;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
}

.wrapper .right-window .chat-room form input{
    border: none;
    width: 95%;
    padding-left: 15px;
    outline: none;
}

.wrapper .right-window .chat-room form a {
    display: flex;
    align-items: center;
}

.wrapper .right-window .chat-room form a:hover {
    opacity: 0.5;
}
.wrapper .right-window .chat-room form a img{
    height: 25px;
    width: 25px;
}

.wrapper .right-window .chat-room .texts{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 15px;
    padding-top: 15px;
    row-gap: 20px;
    overflow-y:auto;
    scrollbar-width: none; 
}



.text-msg{
    background-color:   #d1f2eb;
    padding: 5px 15px 5px 15px;
    /* top right bottom left */
    width: 60%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.text-itself{
    font-size: 15px;
    margin: 0px;
}

.sent-recieved-time{
    font-size: 10px;
    margin: 0px;
    align-self: end;
    opacity: 0.7;
}

.outgoing-texts{
    align-self: flex-end;
}