*{
    box-sizing: border-box;
}

.confirm-checkout{
    font-size: 15px;
    position: fixed;
    top: 250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    width: 400px;
    height: 130px;
    border: 1px solid black;
    border-radius: 10px;
    background-color:  #fae5d3 ;
    text-align: center;
    display: none;
}


.confirm-checkout div{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.confirm-checkout div  button{
    background-color:#d5f5e3;
    border-radius: 5px;

}