*{
    box-sizing: border-box;
    /* outline: 1px dotted red; */
}

@font-face{
    font-family: 'Roboto-Mono';
    src:url('../FONT/Roboto-Mono/static/RobotoMono-Regular.ttf');
}

body{
    font-family: 'Roboto-Mono';
    font-size: 10px;
    margin: 0px;
    padding: 0px;
}

.nav-bar-one{
    position: fixed;
    display: flex;
    z-index: 1;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
}

.nav-bar-one .logo{
    width: 30%;
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.nav-bar-one .logo h1{
    font-size: 20px;
}

.nav-bar-one .logo img{
    height: 30px;
    width: 30px;
    margin: 20px;
    border: none;
}

.nav-bar-one .search{
    display: flex;
    background-color: white;
    width: 30%;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    height: 30px;
    gap: 10px;
    align-items: center;
}

.nav-bar-one .search img{
    /* clip-path: circle(); */
    height: 20px;
    width: 20px;
    margin-left: 10px;   
}

.nav-bar-one .search input{
    border: none;
    font-size: 20px;
    width: 90%;
    height:25px;
    outline: none;
    background-color: transparent
}

.nav-bar-one .sell_btn{
    background-color:   #dc7633 ;
    color: black;
    font-size: 15px;
    font-weight: bolder;
    width: 50px;
    height: 25px;
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
    border: none;
}

.nav-bar-one .account{
    background-color: transparent;
    border: none;
}

.nav-bar-one .account img{
    clip-path: circle();
    height: 30px;
    width: 30px;
}

.nav-bar-one .account img:hover{
    opacity: 0.5;
}

.nav-bar-one a{
    color: black;
    text-decoration: none;
}

.nav-bar-one a:hover{
    color:  #2980b9;
    text-decoration: underline;
}

.nav-bar-two{
    font-size: 12px;
    position: fixed;
    top: 71px;
    z-index: 1;
    width: 100%;
    padding-left: 135px;
    display: flex;
    flex-direction: row;
    gap: 80px;
    background-color: #d6eaf8;
    box-shadow:  0 5px 10px 1px   #a9cce3    ;
    margin-bottom: 1px;

    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
}

.nav-bar-two a{
    color: black;
    text-decoration: none;

}

.nav-bar-two a:hover{
    color:  #2980b9;
    text-decoration: underline;
}

.wrapper{
    /* display: none; */
    position: absolute;
    top: 130px;
    width: 100%;
}

.wrapper .FYP{
    margin: 0 auto;
    width: 50%;
}

.wrapper .FYP .slide_pics{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 260px;
    width: 100%;
    margin-bottom: 25px;
}

.wrapper .FYP .slide_pics h3{
    font-weight: normal;
}


.wrapper .FYP .slide_pics .back_pics{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color:  #a9cce3 ;
    width: 80%;
    height: 100%;
}

.wrapper .FYP .slide_pics .back_pics button{
    height: 70px;
    background-color: transparent;
    font-size: 30px;
    border: none;
    height: 100%;
}
.wrapper .FYP .slide_pics .back_pics .bu_pre:hover{
    opacity: 0.4;
    border-right: 0.2px solid  black ;
}

.wrapper .FYP .slide_pics .back_pics .bu_next:hover{
    opacity: 0.4;
    border-left: 0.2px solid  black ;
}

.wrapper .FYP .categories{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.wrapper .FYP .category{
    height: 200px;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.wrapper .FYP .category .titles{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    width: 100%;
}
.wrapper .FYP .category .titles h3, h4{
    font-weight: normal;
}

.wrapper .FYP .category .titles a{
    text-decoration: none;
    color: black;
}

.wrapper .FYP .category .titles a:hover{
    color:  #2980b9;
    text-decoration: underline;
}

.wrapper .FYP .category .category_imgs{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding-bottom: 5px;    
}

.wrapper .FYP .category .category_imgs .cat-slideshow{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    max-width: fit;
    /* overflow-x: scroll; */
    /* scrollbar-width: none;  */
    width: 100%;
}

.wrapper .FYP .category_imgs img{
    clip-path: circle();
    height:110px;
    width: 110px;
    background-color:  #a9cce3;
}


footer{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}


footer .bottom{
    padding-top: 80px;
    border-top: 1px solid black;
}

footer .media_link{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding-top: 20px;
}

footer .media_link img{
    height: 35px;
    width: 35px;
    border-radius: 8px;
}

footer .media_link .feedback{
    padding-left: 700px;
    font-size: 15px;
}

footer .media_link .feedback a:hover{
    color:  #2980b9;
    text-decoration: underline;
}

footer a{
    text-decoration: none;
    color: black;
}

footer .about_us{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 60px;
}
footer .about_us a:hover{
    color:  #2980b9;
    text-decoration: underline;
}


footer .copyright p{
    color: grey;
    font-size: 15px;
    padding-left:1130px;
}


